@font-face {
    font-family: "KHNPHD";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: KHNPHD;
}

body {
    margin: 0;
    padding: 30px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.button,
.download a {
    -webkit-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -moz-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -ms-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -o-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
}

.button {
    display: inline-block;
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    box-shadow: #aaa 0 0 0 2px inset;
    flex-shrink: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    box-shadow: #aaa 0 0 0 40px inset;
}

.download a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.download a {
    max-width: 100%;
    display: inline-flex;
    margin: 15px 0;
    padding: 5px 15px 5px 5px;
    border: 1px solid rgba(150, 150, 150, 0.7);
    border-radius: 60px;
    line-height: 48px;
    white-space: nowrap;
    box-shadow: rgba(150, 150, 150, 0.4) 0 0 0 0 inset;
}

.download a::before {
    display: inline-block;
    content: "";
    background-color: rgba(150, 150, 150, 0.7);
    background-image: url(../image/dl.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
}

.download a:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(150, 150, 150, 0.7) 0 0 0 40px inset;
    border-color: transparent;
}

#result-wrapper {
    text-align: center;
}

.ytpreveal {
    position: relative;
    max-width: 100%;
    display: inline-block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-top: 0;
}

#input-wrapper {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

#ytinput {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 30px;
    outline: 0;
    padding: 15px;
}

.horiz-bar-2::after,
.horiz-bar-2::before {
    content: "";
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    line-height: 0;
}

.horiz-bar-2 {
    position: absolute;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    left: 0;
    top: -17px;
    line-height: 20px;
    font-size: 16px;
    align-items: center;
    margin: 8px 0;
}

.horiz-bar-2::after,
.horiz-bar-2::before {
    flex-grow: 1;
    font-size: 0;
}

.horiz-bar-2::before {
    margin-right: 15px;
}

.horiz-bar-2::after {
    margin-left: 15px;
}

.ytpreveal-img canvas {
    max-width: 100%;
}
