:root {
    --background-color: #ffffff;
    --background-dark: #f1f1f1;
    --font-color: #1b1b1b;
    --highlight-color: #606060;
    --dark-color: #757575;
    --border-color: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --background-dark: #3b3b3b;
        --font-color: #bbbbbb;
        --highlight-color: #f1f1f1;
        --dark-color: #757575;
        --border-color: #d5d5d5;
    }
}

@font-face {
    font-family: "KHNPHD";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: KHNPHD;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 30px;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
}

.form {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
}

.form__input {
    width: 100%;
    padding: 15px;
    background-color: var(--background-dark);
    color: var(--highlight-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    outline: 0;
}

.form__input::placeholder {
    color: var(--dark-color);
}

.form__submit {
    display: inline-block;
    margin-left: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--background-dark);
    color: var(--highlight-color);
    box-shadow: var(--border-color) 0 0 0 1px inset;
    flex-shrink: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .form__submit {
        transition: color 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36),
            box-shadow 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
    }

    .form__submit:hover {
        color: var(--background-color);
        box-shadow: var(--border-color) 0 0 0 40px inset;
    }
}

.result {
    position: relative;
    display: block;
    width: clamp(0px, 100%, calc(1280px + 2rem));
    margin: 1rem auto 0;
    padding: 1rem;
    border: 1px solid var(--highlight-color);
    text-align: center;
}

.result__title {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0 10px;
    background-color: var(--background-color);
    transform: translate3d(-50%, -50%, 0);
}

.result__thumbnail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.result__thumbnail img {
    max-width: 100%;
}
